<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/js/home/settings.js" defer></script>
    <title>settings</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
          crossorigin="anonymous" />

    <link rel="stylesheet" href="/css/home/style.css">

</head>
<style>
    @font-face {
        font-family: "NanumSquareNeo-Variable";
        src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2") format("woff2");
        font-weight: normal;
        font-style: normal;
    }

    body {
        font-family: "NanumSquareNeo-Variable";
    }

    .big_title {
        position: absolute;
        top: 47%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 5em;
        text-align: center;
        color: #866ec7;
    }

    .big_input {
        font-size: 0.35em;
    }

    .top_login {
        position: absolute;
        top: 5%;
        right: 20%;
    }

    .top_title {
        padding-top: 3%;
        padding-left: 18%;
        font-size: 2.5em;
    }

    .movie_info {
        border-spacing: 1.5em;
        border-collapse: separate;
    }

    .for_right {
        display: block;
        margin-left: auto;
    }

    #review_div {
        margin-top: 5em;
        margin-left: 25em;
        margin-bottom: 2em;
    }

    .user-icon {
        width: 64px;
        height: 64px;
        border-radius: 50%;
    }

    .comment {
        margin-top: 2em;
        display: flex;
        flex-direction: row;
        position: relative;
    }

    .cmt_regist_btn {
        position: absolute;
        bottom: 0;
    }

    .user_name {
        text-align: center;
    }
</style>

<script src="https://unpkg.com/feather-icons"></script>
  </head>
<body style="background-color: #2E2E2E;">
    <div class="wrapper d-flex align-items-stretch">

        <nav id="sidebar" style="background-color: #DF0101;">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-dark">
                    <i data-feather="list" style="position:absolute;left:8px;bottom:6px;"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
            </div>
            <div class="p-4 pt-5">
                <h3><a href="/" class="logo mb-5">WatchList</a></h3>
                <ul class="list-unstyled components my-5">
                    <li>
                        <a href="movie_info">영화정보</a>
                    </li>
                    <li class="active">
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">마이페이지</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li>
                                <a href="profile">프로필</a>
                            </li>
                            <li>
                                <a href="login">로그인</a>
                            </li>
                            <li>
                                <a href="change_password">비밀번호 변경</a>
                            </li>
                            <li>
                                <a href="delete_account">계정 삭제</a>
                            </li>
                            <li>
                                <a href="settings">가족 안심 설정</a>
                            </li>
                        </ul>
                    </li>

                </ul>



        </nav>


        <div id="content" class="p-4 p-md-5 pt-5">

            <div class="container-xl mt-5">
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-7">
                        <div class="card shadow-lg border-0 rounded-lg mt-5 ">
                            <div class="card-header justify-content-center"><h3 class="fw-light my-4 ms-3">가족 안심 설정</h3></div>
                            <div class="card-body d-flex justify-content-center px-5">

                                <table class="mt-4 movie_info">
                                    <tr>
                                        <td colspan="2" style="text-align:center;color:salmon">가족 안심 설정을 하시겠습니까?</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <input type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                            <label class="form-check-label me-3" for="flexRadioDefault1">
                                                예
                                            </label>
                                            <input type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                            <label class="form-check-label" for="flexRadioDefault2">
                                                아니오
                                            </label>


                                        </td>
                                    </tr>
                                    <tr>
                                        <td>생년월일</td>
                                        <td>
                                            <input class="form-control form-control-lg" type="date">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>비밀번호</td>
                                        <td>
                                            <input class="form-control form-control-lg" type="text">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td style="text-align: center;">
                                            <button class="btn btn-secondary" style="font-size:1em;">확인</button>

                                        </td>
                                    </tr>

                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </div>



</body>

<script src="/js/home/jquery.min.js"></script>
<script src="/js/home/popper.js"></script>
<script src="/js/home/bootstrap.min.js"></script>
<script src="/js/home/main.js"></script>
<script>
    //feathericon사용 위해
    feather.replace()


</script>
</html>
